{% extends "base.html" %}
{% block title %} {{ judge }} {% endblock %}
{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 offset-md-1">
                <img src="{% if judge.avatar %} {{ judge.avatar.url }} {% else %} {{ judge.get_avatar }} {% endif%}" alt="" class="judge mx-auto d-block rounded-circle">
                <br>
                <h2 class="text-center">{{ judge }}</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-5">
                <p><i class="bi bi-lightbulb-fill"></i> {{ judge.job }}</p>

            </div>

        </div>

    </div>
{% endblock %}