{% load static %}
<div id="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="{% url "main" %}"><img src="{% static "img/ot-icon.png" %}" alt="" class="header-img"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if section == "teachers" %}active{% endif %}" href="{% url "teachers:dashboard" %}">Profesorado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "competitors" %}active{% endif %}" href="{% url "competitors:dashboard" %}">Concursantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "judges" %}active{% endif %}" href="{% url "judge:dashboard" %}">Jurado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "nominated" %}active{% endif %}" href="{% url "competitors:nominated" %}">Nominados</a>
                    </li>
                </ul>
                {% include "search.html" %}
                <div class="d-inline justify-content-end">
                    {% if request.user.is_authenticated  %}
                        <a href="{% url "account:detail" %}"><img src="{% if request.user.photo %}{{ request.user.photo }} {% else %} {% static "img/default_avatar.png" %} {% endif %}" alt="" class="avatar"></a>
                        <a href="{% url "account:logout" %}"><button type="button" class="btn btn-dark m-3">Logout</button></a>
                    {% else %}
                        <a href="{% url "account:login" %}"><button type="button" class="btn btn-dark m-3">Login</button></a>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </nav>
</div>